/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

$red: hsl(0, 100%, 66%);
$purple: hsl(274, 82%, 60%);
$black: hsl(0, 0%, 2%);
$black100: hsl(0, 0%, 12%);
$black200: hsl(0, 0%, 18%);
$black300: hsl(0, 0%, 23%);
$gray: hsl(0, 0%, 51%);
$gray100: hsl(0, 0%, 91%);
$gray200: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);

%sansSerif {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

%serif {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

%mono {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* San-Serif */
@mixin headingLInter {
  @extend %sansSerif;

  font-size: 64px;
  line-height: 77px;
}

@mixin headingMInter {
  @extend %sansSerif;

  font-size: 24px;
  line-height: 29px;
}

@mixin headingSInter {
  @extend %sansSerif;

  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

@mixin bodyMInter {
  @extend %sansSerif;

  font-size: 18px;
  line-height: 24px;
}

@mixin bodySInter {
  @extend %sansSerif;

  font-size: 14px;
  line-height: 17px;
}

/* Serif */
@mixin headingLLora {
  @extend %serif;

  font-size: 64px;
  line-height: 77px;
}

@mixin headingMLora {
  @extend %serif;

  font-size: 24px;
  line-height: 29px;
}

@mixin headingSLora {
  @extend %serif;

  font-size: 20px;
  line-height: 24px;
}

@mixin bodyMLora {
  @extend %serif;

  font-size: 18px;
  line-height: 24px;
}

@mixin bodySLora {
  @extend %serif;

  font-size: 14px;
  line-height: 17px;
}

/* Mono */
@mixin headingLMono {
  @extend %mono;

  font-size: 64px;
  line-height: 77px;
}

@mixin headingMMono {
  @extend %mono;

  font-size: 24px;
  line-height: 29px;
}

@mixin headingSMono {
  @extend %mono;

  font-size: 20px;
  line-height: 24px;
}

@mixin bodyMMono {
  @extend %mono;

  font-size: 18px;
  line-height: 24px;
}

@mixin bodySMono {
  @extend %mono;

  font-size: 14px;
  line-height: 17px;
}
