@use "./main" as *;

body {
  transition:
    background-color 0.4s,
    color 0.3s;
}

.greet {
  @include headingLInter;

  margin-top: 45px;
  margin-bottom: 25px;
  @extend %paddings;
}

.greet_prgh {
  @include bodyMInter;
  @extend %paddings;
}

label {
  display: none;
}

.result_container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.input_container {
  display: flex;
  position: relative;
  @extend %paddings;
  margin-top: 30px;
}

.input {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;

  height: 60px;
  border: none;
  background: $gray100;
  border-radius: 10px;
  @extend %paddings;
  @include headingSInter;
}

.search_button {
  background: none;
  border: none;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.error_message {
  color: $red;
  margin-top: 10px;

  @extend %paddings;
}

ul {
  list-style: none;
  padding-left: 0;
}

li,
.verb_def {
  margin-bottom: 15px;
}

ul li {
  padding-left: 20px;
  position: relative;
}

ul li::before {
  content: "•";
  color: $purple;
  position: absolute;
  left: 0;
  font-size: 1.2em;
}

.success_status {
  margin-top: 45px;
  @extend %paddings;
}

.success_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %paddings;
}

.word_result {
  @include headingLInter;
}

.play_button {
  background: none;
  border: none;
  cursor: pointer;
}

.pronunciation {
  color: $purple;
  @extend %paddings;
}

.noun_section,
.verb_section {
  margin-top: 20px;
}

.verb_section {
  margin-bottom: 40px;
}

.parts_of_speech {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.meaning {
  color: $gray;
  margin-bottom: 20px;
  @extend %paddings;
}

.horizontal_divisor {
  height: 1px;
  width: 85%;
  opacity: 0.5;
  background-color: $gray;
}

.synonyms {
  color: $gray;
  @extend %paddings;
}

.synonyms_results {
  color: $purple;
}

.example {
  color: $gray;
}

@media screen and (min-width: 768px) {
  .result_container,
  .input {
    max-width: 720px;
  }
}
